@import "bootstrap";
/*@import "bootstrap/theme";*/

@import "colors";
@import "fonts";
@import "header";
@import "contenido";


body {
  width: 100%;
  height:100%;


  background-color: #8F2C49;

  background-image: url('/img/bg-pattern.png');
  background-repeat: repeat;
}


